# Titanic Machine Learning Solution using
# Pipelines to get incrementally better

1. Collecting Data
2. Data Exploration
3. Feature Engineering
4. Model building
5. Testing

In [238]:
# standard
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

#Scikit Learn Base
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import StandardScaler

# Scikit Learn tools
from sklearn.model_selection import KFold, cross_validate, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import learning_curve

from xgboost import XGBClassifier

# Machine Learning
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC

import warnings
warnings.filterwarnings('ignore')

In [19]:
df_train = pd.read_csv('input/train.csv')
df_test = pd.read_csv('input/test.csv')
combine = [df_train, df_test]
df_train.name = 'Train'
df_test.name = 'Test'

kfolds = KFold(n_splits=5, shuffle=True, random_state=14)
target = df_train.Survived

In [5]:
def get_survived(estimator, kfolds, data, target):
    scores = []
    train = data.copy()
    for i, (train_index, test_index) in enumerate(kfolds.split(target)):
        training = train.iloc[train_index,:]
        valid = train.iloc[test_index,:]
        tr_label = target.iloc[train_index]
        val_label = target.iloc[test_index]
        estimator.fit(training, tr_label)
        pred = estimator.predict(valid)
        score = accuracy_score(y_pred=pred, y_true=val_label)
        scores.append(score)
    return round(np.mean(scores),3)

def get_coef(clsf, features):
    imp = clsf.steps[1][1].coef_.tolist()
    results = pd.DataFrame({'Features':features,'Score':imp})
    results = results.sort_values(by='Score', ascending=False)
    return results

## 1. Baseline
As baseline we will predict all women survived.

In [20]:
scores = []

for i, (train_index, test_index) in enumerate(kfolds.split(target)):
    df_train['prediction'] = 0 #Initialize all predictions as Not Survived (0)
    print("Fold {} in progress".format(i))
    result = df_train['Survived'].iloc[test_index] #Get actual answers 
    df_train['prediction'].loc[df_train.Sex == 'female'] = 1 #Predict all using method
    pred = df_train['prediction'].iloc[test_index] #Get predictions for test index
    score = accuracy_score(y_pred=pred, y_true=result) #Calculate score
    scores.append(score)
    print("Score : {}".format(round(score,3)))
    print("-"*40)
    
print("Baseline: {} +- {}".format(round(np.mean(scores),3), round(np.std(scores),3)))
df_train.drop('prediction', axis=1)

Fold 0 in progress
Score : 0.788
----------------------------------------
Fold 1 in progress
Score : 0.787
----------------------------------------
Fold 2 in progress
Score : 0.781
----------------------------------------
Fold 3 in progress
Score : 0.798
----------------------------------------
Fold 4 in progress
Score : 0.781
----------------------------------------
Baseline: 0.787 +- 0.006

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 2. Basic Imputing and Dropping advanced features

In [7]:
class DataFrameSelector(BaseEstimator, TransformerMixin):
    """
    Selects columns from the dataframe on which other processing is to be done
    attribute_names = list of column names to be selected
    """
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[(self.attribute_names)].values

In [8]:
class GeneralImputer(BaseEstimator, TransformerMixin):
    """
    General Imputer to impute missing values by applying certain functions on a group of columns
    col_impute - column into which values are imputed
    col_group - column groups which are taken into account
    impute_method - choose from 'median' or 'average'
    """
    def __init__(self, col_impute, col_group, impute_method='median'):
        self.col_impute = col_impute
        self.col_group = col_group
        self.impute_method = impute_method
        return None
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        df = X.copy()
        
        grouped = df.groupby(self.col_group)
        
        def imputer_median(series):
            return series.fillna(series.median())

        def imputer_average(series):
            return series.fillna(series.mean())
        
        if self.impute_method == 'median':
            df[(self.col_impute)] = grouped[self.col_impute].transform(imputer_median)
            return df
        elif self.impute_method == 'average':
            df[(self.col_impute)] = grouped[self.col_impute].transform(imputer_average)
            return df
        else:
            return np.nan

In [9]:
class EmbarkedImputer(BaseEstimator, TransformerMixin):
    """
    Imputes values into Embarked variable
    """
    def __init__(self): # no *args or **kargs
        return None
    def fit(self, X):
        return self  # nothing else to do
    def transform(self, X):
        # deep copy the df
        df = X.copy()
        
        # Clean up fares.
        value_to_input = df['Embarked'].mode()
        value_to_input = value_to_input[0]
        
        df.loc[(df['Embarked'].isnull()),['Embarked']] = value_to_input

        return(df)

In [21]:
train_2 = df_train.drop(['Name','Ticket','Cabin'], axis=1)
train_2.info()
train_2.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
prediction     891 non-null int64
dtypes: float64(2), int64(6), object(2)
memory usage: 69.7+ KB

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,prediction
0,1,0,3,male,22.0,1,0,7.2500,S,0
1,2,1,1,female,38.0,1,0,71.2833,C,1
2,3,1,3,female,26.0,0,0,7.9250,S,1
3,4,1,1,female,35.0,1,0,53.1000,S,1
4,5,0,3,male,35.0,0,0,8.0500,S,0
5,6,0,3,male,NaN,0,0,8.4583,Q,0
6,7,0,1,male,54.0,0,0,51.8625,S,0
7,8,0,3,male,2.0,3,1,21.0750,S,0
8,9,1,3,female,27.0,0,2,11.1333,S,1
9,10,1,2,female,14.0,1,0,30.0708,C,1

In [22]:
from sklearn_pandas import DataFrameMapper

CAT_ATTRIBS = ['Sex','Embarked']
NUM_ATTRIBS = ['Pclass','Age','SibSp','Parch','Fare']

# map transformers on variables
my_mapper = DataFrameMapper([
    ('Sex', LabelBinarizer()),
    ('Embarked', LabelBinarizer()),
    ], input_df=True)

categorical_pipeline = Pipeline([
    ('Embarked_imputer', EmbarkedImputer()),
    ('label_binarizer_df', my_mapper),
])

numerical_pipeline = Pipeline([
    ('Fare_imputer', GeneralImputer(col_impute='Fare',col_group=['Sex','Pclass'], impute_method='median')),
    ('Age_imputer', GeneralImputer(col_impute='Age',col_group=['Sex','Pclass'], impute_method='median')),
    ('Selector', DataFrameSelector(NUM_ATTRIBS)),
    ('Scaler', StandardScaler())
])

full_pipeline = FeatureUnion(transformer_list=[
    ('Num_pipeline', numerical_pipeline),
    ('Cat_pipeline', categorical_pipeline),
])

In [23]:
train_prepared = full_pipeline.fit_transform(train_2)

In [16]:
# Random Forest Classifier - Grid Search
param_grid = [
    {
        'bootstrap':[False, True],
        'n_estimators':[80,90,100],
        'max_features':[0.6,0.7,0.8],
        'min_samples_leaf':[10,12,14],
        'min_samples_split':[3,5,7]
    },
]

rfc = RandomForestClassifier()
# grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='neg_mean_squared_error', refit=True)
grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_2['Survived'])

#let's see the best estimator
best_rfc = grid_search.best_estimator_
print(best_rfc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 7min 13s
RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.7, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
________________________________________
0.8316498316498316
                                                params  mean_test_score  \
0    {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
1    {'bootstrap': False, 'max_features': 0.6, 'min...         0.823793
2    {'bootstrap': False, 'max_features': 0.6, 'min...         0.826038
3    {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
4    {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
5    {'bootstrap': False, 'max_features': 0.6, 'min...         0.822671
6    {'bootstrap': False, 'max_features': 0.6, 'min...         0.826038
7    {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
8    {'bootstrap': False, 'max_features': 0.6, 'min...         0.822671
9    {'bootstrap': False, 'max_features': 0.6, 'min...         0.812570
10   {'bootstrap': False, 'max_features': 0.6, 'min...         0.810325
11   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
12   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
13   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
14   {'bootstrap': False, 'max_features': 0.6, 'min...         0.808081
15   {'bootstrap': False, 'max_features': 0.6, 'min...         0.809203
16   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
17   {'bootstrap': False, 'max_features': 0.6, 'min...         0.811448
18   {'bootstrap': False, 'max_features': 0.6, 'min...         0.811448
19   {'bootstrap': False, 'max_features': 0.6, 'min...         0.810325
20   {'bootstrap': False, 'max_features': 0.6, 'min...         0.811448
21   {'bootstrap': False, 'max_features': 0.6, 'min...         0.808081
22   {'bootstrap': False, 'max_features': 0.6, 'min...         0.811448
23   {'bootstrap': False, 'max_features': 0.6, 'min...         0.810325
24   {'bootstrap': False, 'max_features': 0.6, 'min...         0.811448
25   {'bootstrap': False, 'max_features': 0.6, 'min...         0.808081
26   {'bootstrap': False, 'max_features': 0.6, 'min...         0.806958
27   {'bootstrap': False, 'max_features': 0.7, 'min...         0.827160
28   {'bootstrap': False, 'max_features': 0.7, 'min...         0.821549
29   {'bootstrap': False, 'max_features': 0.7, 'min...         0.828283
..                                                 ...              ...
132  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.799102
133  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.797980
134  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.803591
135  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
136  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
137  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.810325
138  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.819304
139  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.819304
140  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.812570
141  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
142  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
143  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.813692
144  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.810325
145  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
146  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
147  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
148  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.801347
149  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
150  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.803591
151  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.804714
152  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.802469
153  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.804714
154  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.804714
155  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.803591
156  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.802469
157  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.801347
158  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.799102
159  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.796857
160  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.805836
161  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081

     std_test_score
0          0.030385
1          0.035216
2          0.037670
3          0.026424
4          0.031169
5          0.031237
6          0.029158
7          0.031266
8          0.028793
9          0.024943
10         0.029485
11         0.030818
12         0.028501
13         0.033009
14         0.022441
15         0.025461
16         0.030356
17         0.025603
18         0.024032
19         0.026491
20         0.030302
21         0.029589
22         0.028817
23         0.024411
24         0.027706
25         0.022441
26         0.028648
27         0.027632
28         0.025108
29         0.024097
..              ...
132        0.015629
133        0.017678
134        0.020962
135        0.027660
136        0.025027
137        0.025015
138        0.024119
139        0.023646
140        0.027811
141        0.030618
142        0.033896
143        0.027016
144        0.030923
145        0.023731
146        0.024064
147        0.025858
148        0.026953
149        0.024301
150        0.025599
151        0.022162
152        0.024762
153        0.020153
154        0.027265
155        0.020029
156        0.018137
157        0.023552
158        0.021517
159        0.017558
160        0.017820
161        0.017576

[162 rows x 3 columns]

In [17]:
best_rfc

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.7, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [43]:
# Gradient Boosting Classifier - Grid Search
# param_grid = [
#     {
#         'loss':['deviance', 'exponential'],
#         'learning_rate':[0.1, 0.2, 0.3],
#         'n_estimators':[80,90,100],
#         'max_features':[0.6,0.7,0.8],
#         'min_samples_leaf':[10,12,14],
#         'min_samples_split':[3,5,7]
#     },
# ]
param_grid = [
    {
        'loss':['exponential'],
        'learning_rate':[0.1],
        'n_estimators':[10,30,40],
        'max_features':[0.1,0.2,0.3],
        'min_samples_leaf':[7,8,9],
        'min_samples_split':[13,15,17,19]
    },
]

gbc = GradientBoostingClassifier()
grid_search = GridSearchCV(gbc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_2['Survived'])

#let's see the best estimator
best_gbc = grid_search.best_estimator_
print(best_gbc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 24.9 s
GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.3, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=8, min_samples_split=17,
              min_weight_fraction_leaf=0.0, n_estimators=40,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)
________________________________________
0.7384960718294051
                                                params  mean_test_score  \
0    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.704826
1    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.728395
2    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.734007
3    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.704826
4    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.727273
5    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.723906
6    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.705948
7    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.723906
8    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.723906
9    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.710438
10   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.721661
11   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.728395
12   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.705948
13   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.726150
14   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.726150
15   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.709315
16   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.729517
17   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.723906
18   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.704826
19   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.728395
20   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.734007
21   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.700337
22   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.721661
23   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.728395
24   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.701459
25   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.729517
26   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.730640
27   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.729517
28   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.719416
29   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.726150
..                                                 ...              ...
78   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.714927
79   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.731762
80   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.730640
81   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.710438
82   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.735129
83   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.730640
84   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.710438
85   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.730640
86   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.731762
87   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.717172
88   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.727273
89   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.732884
90   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.722783
91   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.725028
92   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.738496
93   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.716049
94   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.721661
95   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.720539
96   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.701459
97   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.725028
98   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.731762
99   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.708193
100  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.736251
101  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.726150
102  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.719416
103  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.729517
104  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.723906
105  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.719416
106  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.729517
107  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.736251

     std_test_score
0          0.036999
1          0.057757
2          0.057995
3          0.044831
4          0.055552
5          0.054600
6          0.038804
7          0.059212
8          0.056185
9          0.035849
10         0.057585
11         0.059618
12         0.039449
13         0.054724
14         0.058558
15         0.044746
16         0.056254
17         0.065330
18         0.043561
19         0.063742
20         0.053957
21         0.040296
22         0.056428
23         0.058691
24         0.039238
25         0.055888
26         0.061291
27         0.047403
28         0.059277
29         0.062626
..              ...
78         0.036582
79         0.059560
80         0.059146
81         0.040898
82         0.062742
83         0.056033
84         0.045544
85         0.055766
86         0.052912
87         0.040458
88         0.059725
89         0.053789
90         0.038968
91         0.066514
92         0.059910
93         0.035905
94         0.062574
95         0.053880
96         0.036163
97         0.058998
98         0.059112
99         0.038378
100        0.057259
101        0.060537
102        0.039802
103        0.057087
104        0.056821
105        0.047696
106        0.059136
107        0.056856

[108 rows x 3 columns]

In [44]:
best_gbc

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.3, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=8, min_samples_split=17,
              min_weight_fraction_leaf=0.0, n_estimators=40,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [50]:
scores_rfc = []
scores_gbc = []

for i, (train_index, test_index) in enumerate(kfolds.split(target)):
    print("Fold {} in progress".format(i))
#     print(test_index)
    result = train_2['Survived'].iloc[test_index] #Get actual answers 
    
    #Get prepared train and test
    train_2_prepared = full_pipeline.fit_transform(train_2.iloc[train_index])
#     import pdb; pdb.set_trace()
    test_2_prepared = full_pipeline.fit_transform(train_2.iloc[test_index])
    
    #Train estimator for train_index
    best_rfc.fit(train_2_prepared, train_2['Survived'].iloc[train_index])
    best_gbc.fit(train_2_prepared, train_2['Survived'].iloc[train_index])
    
    #Get predictions for test_index
    pred_rfc = best_rfc.predict(test_2_prepared)
    pred_gbc = best_gbc.predict(test_2_prepared)
  
    #Calculate score
    score_rfc = accuracy_score(y_pred=pred_rfc, y_true=result) #Calculate score
    score_gbc = accuracy_score(y_pred=pred_gbc, y_true=result) #Calculate score
    scores_rfc.append(score_rfc)
    scores_gbc.append(score_gbc)
    print("Score : {} : {}".format(round(score_rfc,3),round(score_gbc,3)))
    print("-"*40)
    
print("Baseline RFC: {} +- {}".format(round(np.mean(scores_rfc),3), round(np.std(scores_rfc),3)))
print("Baseline GBC: {} +- {}".format(round(np.mean(scores_gbc),3), round(np.std(scores_gbc),3)))

Fold 0 in progress
Score : 0.844 : 0.827
----------------------------------------
Fold 1 in progress
Score : 0.803 : 0.775
----------------------------------------
Fold 2 in progress
Score : 0.826 : 0.826
----------------------------------------
Fold 3 in progress
Score : 0.803 : 0.837
----------------------------------------
Fold 4 in progress
Score : 0.831 : 0.815
----------------------------------------
Baseline RFC: 0.822 +- 0.016
Baseline GBC: 0.816 +- 0.022

In [26]:
train_prepared = full_pipeline.fit_transform(train_2)

In [27]:
best_rfc.fit(train_prepared, train_2['Survived'])

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.7, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
test_2 = df_test.drop(['Name','Ticket','Cabin'], axis=1)
test_2.info()
test_2.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S
5          897       3    male  14.0      0      0   9.2250        S
6          898       3  female  30.0      0      0   7.6292        Q
7          899       2    male  26.0      1      1  29.0000        S
8          900       3  female  18.0      0      0   7.2292        C
9          901       3    male  21.0      2      0  24.1500        S

In [29]:
test_prepared = full_pipeline.fit_transform(test_2)

In [30]:
test_survived = best_rfc.predict(test_prepared)

In [31]:
submission_2 = pd.DataFrame({
    'PassengerId':test_2.PassengerId,
    'Survived':test_survived
})
submission_2.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [27]:
submission_2.to_csv('submission_2.csv',index=False)

## 3. Advanced Features (Family Size)

In [32]:
class FamilySize_feature(BaseEstimator, TransformerMixin):
    """
    Imputes values into Embarked variable
    """
    def __init__(self): # no *args or **kargs
        return None
    def fit(self, X):
        return self  # nothing else to do
    def transform(self, X):
        # deep copy the df
        df = X.copy()
        df['FamilySize'] = df['Parch'] + df['SibSp']
        return(df)

In [52]:
from sklearn_pandas import DataFrameMapper

CAT_ATTRIBS = ['Sex','Embarked']
NUM_ATTRIBS = ['Pclass','Age','FamilySize','Fare']

# map transformers on variables
my_mapper = DataFrameMapper([
    ('Sex', LabelBinarizer()),
    ('Embarked', LabelBinarizer()),
    ], input_df=True)

categorical_pipeline = Pipeline([
    ('Embarked_imputer', EmbarkedImputer()),
    ('label_binarizer_df', my_mapper),
])

numerical_pipeline = Pipeline([
    ('Fare_imputer', GeneralImputer(col_impute='Fare',col_group=['Sex','Pclass'], impute_method='median')),
    ('Age_imputer', GeneralImputer(col_impute='Age',col_group=['Sex','Pclass'], impute_method='median')),
    ('FamilySize_feature_creation', FamilySize_feature()),
    ('Selector', DataFrameSelector(NUM_ATTRIBS)),
    ('Scaler', StandardScaler())
])

full_pipeline = FeatureUnion(transformer_list=[
    ('Num_pipeline', numerical_pipeline),
    ('Cat_pipeline', categorical_pipeline),
])

In [53]:
train_prepared = full_pipeline.fit_transform(train_2)
print(train_prepared)

[[ 0.82737724 -0.53489116  0.05915988 ...  0.          0.
   1.        ]
 [-1.56610693  0.66839176  0.05915988 ...  1.          0.
   0.        ]
 [ 0.82737724 -0.23407043 -0.56097483 ...  0.          0.
   1.        ]
 ...
 [ 0.82737724 -0.57249375  1.29942929 ...  0.          0.
   1.        ]
 [-1.56610693 -0.23407043 -0.56097483 ...  1.          0.
   0.        ]
 [ 0.82737724  0.21716066 -0.56097483 ...  0.          1.
   0.        ]]

In [54]:
# Random Forest Classifier - Grid Search
param_grid = [
    {
        'bootstrap':[False, True],
        'n_estimators':[80,90,100],
        'max_features':[0.6,0.7,0.8],
        'min_samples_leaf':[10,12,14],
        'min_samples_split':[3,5,7]
    },
]

rfc = RandomForestClassifier()
# grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='neg_mean_squared_error', refit=True)
grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_2['Survived'])

#let's see the best estimator
best_rfc = grid_search.best_estimator_
print(best_rfc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 6min 2s
RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.8, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
________________________________________
0.8294051627384961
                                                params  mean_test_score  \
0    {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
1    {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
2    {'bootstrap': False, 'max_features': 0.6, 'min...         0.823793
3    {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
4    {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
5    {'bootstrap': False, 'max_features': 0.6, 'min...         0.827160
6    {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
7    {'bootstrap': False, 'max_features': 0.6, 'min...         0.822671
8    {'bootstrap': False, 'max_features': 0.6, 'min...         0.824916
9    {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
10   {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
11   {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
12   {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
13   {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
14   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
15   {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
16   {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
17   {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
18   {'bootstrap': False, 'max_features': 0.6, 'min...         0.814815
19   {'bootstrap': False, 'max_features': 0.6, 'min...         0.808081
20   {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
21   {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
22   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
23   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
24   {'bootstrap': False, 'max_features': 0.6, 'min...         0.810325
25   {'bootstrap': False, 'max_features': 0.6, 'min...         0.810325
26   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
27   {'bootstrap': False, 'max_features': 0.7, 'min...         0.826038
28   {'bootstrap': False, 'max_features': 0.7, 'min...         0.827160
29   {'bootstrap': False, 'max_features': 0.7, 'min...         0.826038
..                                                 ...              ...
132  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.806958
133  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.810325
134  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.803591
135  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.814815
136  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
137  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.812570
138  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
139  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.812570
140  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.814815
141  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
142  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.817059
143  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
144  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
145  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
146  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
147  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.810325
148  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
149  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.813692
150  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.806958
151  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
152  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.802469
153  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.803591
154  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.802469
155  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.805836
156  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
157  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
158  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.805836
159  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.806958
160  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.802469
161  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081

     std_test_score
0          0.030585
1          0.028727
2          0.027117
3          0.026023
4          0.025327
5          0.024682
6          0.032567
7          0.035653
8          0.032579
9          0.021482
10         0.023032
11         0.027489
12         0.020871
13         0.023738
14         0.024662
15         0.027042
16         0.025294
17         0.022931
18         0.028602
19         0.020903
20         0.029019
21         0.023433
22         0.023791
23         0.024549
24         0.021244
25         0.021244
26         0.023734
27         0.026484
28         0.024216
29         0.030599
..              ...
132        0.017877
133        0.018183
134        0.016892
135        0.023153
136        0.024572
137        0.021926
138        0.029054
139        0.023849
140        0.026868
141        0.034195
142        0.023452
143        0.031154
144        0.026963
145        0.023540
146        0.019340
147        0.025455
148        0.025869
149        0.022260
150        0.027615
151        0.024919
152        0.021380
153        0.015250
154        0.019422
155        0.021989
156        0.018445
157        0.018206
158        0.020619
159        0.018023
160        0.024198
161        0.017576

[162 rows x 3 columns]

In [55]:
best_rfc

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.8, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [56]:
# Gradient Boosting Classifier - Grid Search
# param_grid = [
#     {
#         'loss':['deviance', 'exponential'],
#         'learning_rate':[0.1, 0.2, 0.3],
#         'n_estimators':[80,90,100],
#         'max_features':[0.6,0.7,0.8],
#         'min_samples_leaf':[10,12,14],
#         'min_samples_split':[3,5,7]
#     },
# ]
param_grid = [
    {
        'loss':['exponential'],
        'learning_rate':[0.1],
        'n_estimators':[10,30,40],
        'max_features':[0.1,0.2,0.3],
        'min_samples_leaf':[7,8,9],
        'min_samples_split':[13,15,17,19]
    },
]

gbc = GradientBoostingClassifier()
grid_search = GridSearchCV(gbc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_2['Survived'])

#let's see the best estimator
best_gbc = grid_search.best_estimator_
print(best_gbc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 37.5 s
GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.1, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=9, min_samples_split=19,
              min_weight_fraction_leaf=0.0, n_estimators=30,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)
________________________________________
0.8249158249158249
                                                params  mean_test_score  \
0    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.768799
1    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.809203
2    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
3    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.786756
4    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.805836
5    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
6    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.775533
7    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.809203
8    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.820426
9    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.778900
10   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.808081
11   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.809203
12   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.774411
13   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
14   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
15   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.757576
16   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.812570
17   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
18   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.784512
19   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
20   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
21   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.756453
22   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.810325
23   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
24   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.763187
25   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
26   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
27   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.749719
28   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
29   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
..                                                 ...              ...
78   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.793490
79   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
80   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
81   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.795735
82   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
83   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.824916
84   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.796857
85   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.820426
86   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
87   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.796857
88   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
89   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.810325
90   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.790123
91   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.812570
92   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
93   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.809203
94   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.810325
95   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
96   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.786756
97   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
98   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.822671
99   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.792368
100  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
101  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
102  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.805836
103  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.810325
104  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
105  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.793490
106  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
107  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937

     std_test_score
0          0.059798
1          0.027816
2          0.024309
3          0.024309
4          0.023852
5          0.022969
6          0.024265
7          0.028976
8          0.028191
9          0.034439
10         0.029555
11         0.020511
12         0.044287
13         0.017002
14         0.026927
15         0.033156
16         0.017806
17         0.026848
18         0.028346
19         0.020774
20         0.030360
21         0.053935
22         0.023504
23         0.022232
24         0.056264
25         0.024429
26         0.029541
27         0.064374
28         0.025966
29         0.022748
..              ...
78         0.025899
79         0.018085
80         0.017818
81         0.035413
82         0.019867
83         0.018275
84         0.021986
85         0.026849
86         0.030513
87         0.030258
88         0.021564
89         0.020987
90         0.024866
91         0.021680
92         0.020493
93         0.026505
94         0.027800
95         0.017137
96         0.021155
97         0.026721
98         0.020566
99         0.022044
100        0.024584
101        0.017680
102        0.023866
103        0.027800
104        0.024215
105        0.043446
106        0.019195
107        0.014980

[108 rows x 3 columns]

In [57]:
best_gbc

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.1, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=9, min_samples_split=19,
              min_weight_fraction_leaf=0.0, n_estimators=30,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [168]:
estimator = [
    ('RandomForestClassifier',best_rfc),
    ('GradientBoostedClassifier',best_gbc),
]

scores = [[],[]]

for i, (train_index, test_index) in enumerate(kfolds.split(target)):
    print("Fold {} in progress".format(i))
    for k in enumerate(estimator):
        result = train_2['Survived'].iloc[test_index] #Get actual answers 

        #Get prepared train and test
        train_2_prepared = full_pipeline.fit_transform(train_2.iloc[train_index])
    #     import pdb; pdb.set_trace()
        test_2_prepared = full_pipeline.fit_transform(train_2.iloc[test_index])

        #Train estimator for train_index
        estimator[k[0]][1].fit(train_2_prepared, train_2['Survived'].iloc[train_index])

        #Get predictions for test_index
        pred = estimator[k[0]][1].predict(test_2_prepared)

        #Calculate score
        score = accuracy_score(y_pred=pred, y_true=result) #Calculate score
        scores[k[0]].append(score)
        print("{} Score : {}".format(estimator[k[0]][0],round(score,3)))
    print("-"*40)
    

for k in enumerate(estimator):
    print("Baseline {}:\t {} +- {}".format(estimator[k[0]][0],round(np.mean(scores[k[0]]),3), round(np.std(scores[k[0]]),3)))

Fold 0 in progress
RandomForestClassifier Score : 0.838
GradientBoostedClassifier Score : 0.793
----------------------------------------
Fold 1 in progress
RandomForestClassifier Score : 0.792
GradientBoostedClassifier Score : 0.758
----------------------------------------
Fold 2 in progress
RandomForestClassifier Score : 0.809
GradientBoostedClassifier Score : 0.815
----------------------------------------
Fold 3 in progress
RandomForestClassifier Score : 0.831
GradientBoostedClassifier Score : 0.848
----------------------------------------
Fold 4 in progress
RandomForestClassifier Score : 0.815
GradientBoostedClassifier Score : 0.775
----------------------------------------
Baseline RandomForestClassifier:	 0.817 +- 0.016
Baseline GradientBoostedClassifier:	 0.798 +- 0.031

In [169]:
train_prepared = full_pipeline.fit_transform(train_2)

In [170]:
best_rfc.fit(train_prepared, train_2['Survived'])

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.8, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [171]:
test_2 = df_test.drop(['Name','Ticket','Cabin'], axis=1)
test_2.info()
test_2.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S
5          897       3    male  14.0      0      0   9.2250        S
6          898       3  female  30.0      0      0   7.6292        Q
7          899       2    male  26.0      1      1  29.0000        S
8          900       3  female  18.0      0      0   7.2292        C
9          901       3    male  21.0      2      0  24.1500        S

In [172]:
test_prepared = full_pipeline.fit_transform(test_2)

In [173]:
test_survived = best_rfc.predict(test_prepared)

In [174]:
submission_3 = pd.DataFrame({
    'PassengerId':test_2.PassengerId,
    'Survived':test_survived
})
submission_3.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [175]:
submission_3.to_csv('submission_3.csv',index=False)

## 4. Advanced Features (Adjusted Fare Price)

In [254]:
class FareAdjusted_feature(BaseEstimator, TransformerMixin):
    """
    Imputes values into Embarked variable
    """
    def __init__(self): # no *args or **kargs
        return None
    def fit(self, X):
        return self  # nothing else to do
    def transform(self, X):
        # deep copy the df
        df = X.copy()
        
        df['TicketFrequency'] = train_4.groupby(['Ticket'])['Ticket'].transform('count')
#         for i in np.arange(df.shape[0]):
#             df['TicketFrequency'].iloc[i] = train_4.Ticket.loc[train_4.Ticket == train_4.Ticket.iloc[i]].count()
        
        df['FareAdj'] = df['Fare']/df['TicketFrequency']    
        return(df)

In [180]:
train_3 = df_train.drop(['Name','Cabin','prediction'], axis=1)
train_3.info()
train_3.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S
5,6,0,3,male,NaN,0,0,330877,8.4583,Q
6,7,0,1,male,54.0,0,0,17463,51.8625,S
7,8,0,3,male,2.0,3,1,349909,21.0750,S
8,9,1,3,female,27.0,0,2,347742,11.1333,S
9,10,1,2,female,14.0,1,0,237736,30.0708,C

In [255]:
train_4 = FareAdjusted_feature.transform(train_3, train_3)
train_4.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,TicketFrequency,FareAdj
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S,1,7.25000
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C,1,71.28330
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,7.92500
3,4,1,1,female,35.0,1,0,113803,53.1000,S,2,26.55000
4,5,0,3,male,35.0,0,0,373450,8.0500,S,1,8.05000
5,6,0,3,male,NaN,0,0,330877,8.4583,Q,1,8.45830
6,7,0,1,male,54.0,0,0,17463,51.8625,S,1,51.86250
7,8,0,3,male,2.0,3,1,349909,21.0750,S,4,5.26875
8,9,1,3,female,27.0,0,2,347742,11.1333,S,3,3.71110
9,10,1,2,female,14.0,1,0,237736,30.0708,C,2,15.03540

In [226]:
from sklearn_pandas import DataFrameMapper

CAT_ATTRIBS = ['Sex','Embarked']
NUM_ATTRIBS = ['Pclass','Age','FamilySize','FareAdj']

# map transformers on variables
my_mapper = DataFrameMapper([
    ('Sex', LabelBinarizer()),
    ('Embarked', LabelBinarizer()),
    ], input_df=True)

categorical_pipeline = Pipeline([
    ('Embarked_imputer', EmbarkedImputer()),
    ('label_binarizer_df', my_mapper),
])

numerical_pipeline = Pipeline([
    ('Fare_imputer', GeneralImputer(col_impute='Fare',col_group=['Sex','Pclass'], impute_method='median')),
    ('Age_imputer', GeneralImputer(col_impute='Age',col_group=['Sex','Pclass'], impute_method='median')),
    ('FamilySize_feature_creation', FamilySize_feature()),
    ('Fare_Adjustments',FareAdjusted_feature()),
    ('Selector', DataFrameSelector(NUM_ATTRIBS)),
    ('Scaler', StandardScaler())
])

full_pipeline = FeatureUnion(transformer_list=[
    ('Num_pipeline', numerical_pipeline),
    ('Cat_pipeline', categorical_pipeline),
])

In [227]:
train_prepared = full_pipeline.fit_transform(train_3)
print(train_prepared)

[[ 0.82737724 -0.53489116  0.05915988 ...  0.          0.
   1.        ]
 [-1.56610693  0.66839176  0.05915988 ...  1.          0.
   0.        ]
 [ 0.82737724 -0.23407043 -0.56097483 ...  0.          0.
   1.        ]
 ...
 [ 0.82737724 -0.57249375  1.29942929 ...  0.          0.
   1.        ]
 [-1.56610693 -0.23407043 -0.56097483 ...  1.          0.
   0.        ]
 [ 0.82737724  0.21716066 -0.56097483 ...  0.          1.
   0.        ]]

In [228]:
# Random Forest Classifier - Grid Search
param_grid = [
    {
        'bootstrap':[False, True],
        'n_estimators':[80,90,100],
        'max_features':[0.6,0.7,0.8],
        'min_samples_leaf':[10,12,14],
        'min_samples_split':[3,5,7]
    },
]

rfc = RandomForestClassifier()
# grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='neg_mean_squared_error', refit=True)
grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_3['Survived'])

#let's see the best estimator
best_rfc = grid_search.best_estimator_
print(best_rfc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 4min 51s
RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.6, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=12, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
________________________________________
0.8260381593714927
                                                params  mean_test_score  \
0    {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
1    {'bootstrap': False, 'max_features': 0.6, 'min...         0.822671
2    {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
3    {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
4    {'bootstrap': False, 'max_features': 0.6, 'min...         0.823793
5    {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
6    {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
7    {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
8    {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
9    {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
10   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
11   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
12   {'bootstrap': False, 'max_features': 0.6, 'min...         0.814815
13   {'bootstrap': False, 'max_features': 0.6, 'min...         0.820426
14   {'bootstrap': False, 'max_features': 0.6, 'min...         0.826038
15   {'bootstrap': False, 'max_features': 0.6, 'min...         0.812570
16   {'bootstrap': False, 'max_features': 0.6, 'min...         0.818182
17   {'bootstrap': False, 'max_features': 0.6, 'min...         0.821549
18   {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
19   {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
20   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
21   {'bootstrap': False, 'max_features': 0.6, 'min...         0.819304
22   {'bootstrap': False, 'max_features': 0.6, 'min...         0.813692
23   {'bootstrap': False, 'max_features': 0.6, 'min...         0.812570
24   {'bootstrap': False, 'max_features': 0.6, 'min...         0.812570
25   {'bootstrap': False, 'max_features': 0.6, 'min...         0.817059
26   {'bootstrap': False, 'max_features': 0.6, 'min...         0.815937
27   {'bootstrap': False, 'max_features': 0.7, 'min...         0.817059
28   {'bootstrap': False, 'max_features': 0.7, 'min...         0.818182
29   {'bootstrap': False, 'max_features': 0.7, 'min...         0.815937
..                                                 ...              ...
132  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.812570
133  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.806958
134  {'bootstrap': True, 'max_features': 0.7, 'min_...         0.810325
135  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.805836
136  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.824916
137  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.818182
138  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.812570
139  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.817059
140  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
141  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.812570
142  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.814815
143  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.813692
144  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
145  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
146  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
147  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
148  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
149  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
150  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.810325
151  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.811448
152  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.806958
153  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.813692
154  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.815937
155  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
156  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
157  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081
158  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.809203
159  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.805836
160  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.803591
161  {'bootstrap': True, 'max_features': 0.8, 'min_...         0.808081

     std_test_score
0          0.024180
1          0.025464
2          0.022484
3          0.022106
4          0.017626
5          0.019386
6          0.024786
7          0.021340
8          0.023684
9          0.021600
10         0.025451
11         0.021024
12         0.029001
13         0.019485
14         0.016399
15         0.019892
16         0.021082
17         0.018897
18         0.020095
19         0.021958
20         0.019374
21         0.014616
22         0.019929
23         0.016563
24         0.019492
25         0.020524
26         0.017336
27         0.023110
28         0.017851
29         0.025101
..              ...
132        0.019985
133        0.019858
134        0.018861
135        0.021508
136        0.020021
137        0.019603
138        0.024679
139        0.022622
140        0.023608
141        0.017497
142        0.024966
143        0.020911
144        0.019205
145        0.024685
146        0.020157
147        0.020354
148        0.022311
149        0.018160
150        0.019175
151        0.015851
152        0.016538
153        0.017643
154        0.019134
155        0.019280
156        0.018526
157        0.020354
158        0.013121
159        0.019738
160        0.028225
161        0.015597

[162 rows x 3 columns]

In [229]:
best_rfc

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.6, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=12, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [230]:
# Gradient Boosting Classifier - Grid Search
# param_grid = [
#     {
#         'loss':['deviance', 'exponential'],
#         'learning_rate':[0.1, 0.2, 0.3],
#         'n_estimators':[80,90,100],
#         'max_features':[0.6,0.7,0.8],
#         'min_samples_leaf':[10,12,14],
#         'min_samples_split':[3,5,7]
#     },
# ]
param_grid = [
    {
        'loss':['exponential'],
        'learning_rate':[0.1],
        'n_estimators':[10,30,40],
        'max_features':[0.1,0.2,0.3],
        'min_samples_leaf':[7,8,9],
        'min_samples_split':[13,15,17,19]
    },
]

gbc = GradientBoostingClassifier()
grid_search = GridSearchCV(gbc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_3['Survived'])

#let's see the best estimator
best_gbc = grid_search.best_estimator_
print(best_gbc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 30.7 s
GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.2, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=8, min_samples_split=13,
              min_weight_fraction_leaf=0.0, n_estimators=30,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)
________________________________________
0.8249158249158249
                                                params  mean_test_score  \
0    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.755331
1    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.809203
2    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
3    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.780022
4    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
5    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
6    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
7    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
8    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.812570
9    {'learning_rate': 0.1, 'loss': 'exponential', ...         0.765432
10   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
11   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.821549
12   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.769921
13   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.813692
14   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
15   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.775533
16   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
17   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.813692
18   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.780022
19   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.805836
20   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
21   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.794613
22   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.808081
23   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
24   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.760943
25   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
26   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
27   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.777778
28   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
29   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.810325
..                                                 ...              ...
78   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.782267
79   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
80   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
81   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
82   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.818182
83   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
84   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.805836
85   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
86   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
87   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.793490
88   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.824916
89   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
90   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.794613
91   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.817059
92   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
93   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.803591
94   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
95   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.813692
96   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.795735
97   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
98   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.815937
99   {'learning_rate': 0.1, 'loss': 'exponential', ...         0.793490
100  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.819304
101  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.814815
102  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.797980
103  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.813692
104  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.811448
105  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.802469
106  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.821549
107  {'learning_rate': 0.1, 'loss': 'exponential', ...         0.823793

     std_test_score
0          0.055463
1          0.016965
2          0.024282
3          0.016631
4          0.008100
5          0.018639
6          0.009901
7          0.017976
8          0.012475
9          0.033641
10         0.016459
11         0.018105
12         0.048105
13         0.026361
14         0.014657
15         0.026334
16         0.020703
17         0.016147
18         0.051547
19         0.016817
20         0.021121
21         0.031414
22         0.024971
23         0.018357
24         0.043853
25         0.015023
26         0.011689
27         0.021533
28         0.020425
29         0.014275
..              ...
78         0.022891
79         0.014065
80         0.012268
81         0.020491
82         0.021017
83         0.019705
84         0.027558
85         0.016915
86         0.020174
87         0.026499
88         0.010528
89         0.014112
90         0.022629
91         0.012021
92         0.018024
93         0.029724
94         0.014691
95         0.012810
96         0.042600
97         0.017811
98         0.012181
99         0.029512
100        0.015531
101        0.018072
102        0.023255
103        0.015786
104        0.013627
105        0.031053
106        0.021536
107        0.015820

[108 rows x 3 columns]

In [231]:
best_gbc

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='exponential', max_depth=3,
              max_features=0.2, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=8, min_samples_split=13,
              min_weight_fraction_leaf=0.0, n_estimators=30,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [232]:
estimator = [
    ('RandomForestClassifier',best_rfc),
    ('GradientBoostedClassifier',best_gbc),
]

scores = [[],[]]

for i, (train_index, test_index) in enumerate(kfolds.split(target)):
    print("Fold {} in progress".format(i))
    for k in enumerate(estimator):
        result = train_3['Survived'].iloc[test_index] #Get actual answers 

        #Get prepared train and test
        train_3_prepared = full_pipeline.fit_transform(train_3.iloc[train_index])
    #     import pdb; pdb.set_trace()
        test_3_prepared = full_pipeline.fit_transform(train_3.iloc[test_index])

        #Train estimator for train_index
        estimator[k[0]][1].fit(train_3_prepared, train_3['Survived'].iloc[train_index])

        #Get predictions for test_index
        pred = estimator[k[0]][1].predict(test_3_prepared)

        #Calculate score
        score = accuracy_score(y_pred=pred, y_true=result) #Calculate score
        scores[k[0]].append(score)
        print("{} Score : {}".format(estimator[k[0]][0],round(score,3)))
    print("-"*40)
    

for k in enumerate(estimator):
    print("Baseline {}:\t {} +- {}".format(estimator[k[0]][0],round(np.mean(scores[k[0]]),3), round(np.std(scores[k[0]]),3)))

Fold 0 in progress
RandomForestClassifier Score : 0.827
GradientBoostedClassifier Score : 0.838
----------------------------------------
Fold 1 in progress
RandomForestClassifier Score : 0.781
GradientBoostedClassifier Score : 0.803
----------------------------------------
Fold 2 in progress
RandomForestClassifier Score : 0.798
GradientBoostedClassifier Score : 0.815
----------------------------------------
Fold 3 in progress
RandomForestClassifier Score : 0.803
GradientBoostedClassifier Score : 0.871
----------------------------------------
Fold 4 in progress
RandomForestClassifier Score : 0.792
GradientBoostedClassifier Score : 0.787
----------------------------------------
Baseline RandomForestClassifier:	 0.8 +- 0.015
Baseline GradientBoostedClassifier:	 0.823 +- 0.029

In [234]:
train_prepared = full_pipeline.fit_transform(train_3)

In [235]:
test_survived = best_gbc.predict(test_prepared)

In [236]:
submission_4 = pd.DataFrame({
    'PassengerId':test_2.PassengerId,
    'Survived':test_survived
})
submission_4.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [237]:
submission_4.to_csv('submission_4.csv',index=False)

## 5. Advanced Features (Woman Child Groups)

In [257]:
train_5 = df_train
train_5.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,prediction,Title,SexGroup,WCG,WCG_frequency
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,Mr,man,NoGroup,537
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Mrs,woman,Cumings,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,Miss,woman,Heikkinen,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Mrs,woman,Futrelle,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Mr,man,NoGroup,537

In [258]:
train_5['Title'] = train_5['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)
train_5.Title.value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Col           2
Mlle          2
Lady          1
Jonkheer      1
Countess      1
Don           1
Sir           1
Ms            1
Capt          1
Mme           1
Name: Title, dtype: int64

In [259]:
mapping = {'Mr':'man','Miss':'woman','Mrs':'woman','Master':'boy',
           'Dr':'man','Rev':'man','Major':'man','Col':'man','Mlle':'woman',
           'Lady':'woman','Johkheer':'man','Countess':'woman','Don':'man',
           'Sir':'man','Ms':'woman','Capt':'man','Mme':'woman'}

train_5['SexGroup'] = train_5['Title'].map(mapping)
train_5.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,prediction,Title,SexGroup,WCG,WCG_frequency
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,Mr,man,NoGroup,537
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Mrs,woman,Cumings,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,Miss,woman,Heikkinen,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Mrs,woman,Futrelle,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Mr,man,NoGroup,537

In [350]:
train_5['WCG'] = train_5['Name'].str.extract('([A-Za-z]+)\,',expand=False)
train_5['WCG'].loc[train_5['SexGroup'] == 'man'] = 'NoGroup'
train_5['WCG_frequency'] = train_5.groupby(['WCG'])['WCG'].transform('count')
train_5['WCG'].loc[train_5['WCG_frequency'] <= 1] = 'NoGroup'
# train_5['WCG_survived'] = train_5.groupby(['Survived','WCG'])['Survived'].transform('mean')
# train_5['WCG_survived'].value_counts()
gr = train_5.groupby(['WCG','Survived'])['Survived'].count()
# gr1 = train_5.groupby(['WCG','Survived'])['Survived'].count()/train_5['WCG_frequency']
gr

WCG         Survived
Allison     0             2
            1             1
Andersson   0             6
            1             1
Asplund     0             1
            1             3
Baclini     1             4
Barbara     0             2
Becker      1             2
Boulos      0             2
Bourke      0             2
Brown       1             3
Caldwell    1             2
Carter      0             1
            1             3
Collyer     1             2
Coutts      1             2
Doling      1             2
Ford        0             3
Fortune     1             2
Goldsmith   1             2
Goodwin     0             5
Graham      1             2
Hamalainen  1             2
Harper      1             2
Hart        1             2
Hays        1             2
Herman      1             2
Hippach     1             2
Impe        0             2
Johnson     1             3
Jussila     0             2
Kelly       1             3
Laroche     1             2
Lefebre     0             4
Mellinger   1             2
Moor        1             2
Moubarek    1             2
Murphy      1             2
Navratil    1             2
Newell      1             2
NoGroup     0           489
            1           260
Palsson     0             4
Panula      0             4
Peter       1             2
Planke      0             2
Quick       1             2
Rice        0             5
Richards    1             3
Ryerson     1             2
Sage        0             4
Sandstrom   1             2
Skoog       0             5
Strom       0             2
Taussig     1             2
West        1             2
Wick        1             2
Yarred      1             2
Zabour      0             2
Name: Survived, dtype: int64

In [222]:
class WCG_feature(BaseEstimator, TransformerMixin):
    """
    Imputes values into Embarked variable
    """
    def __init__(self): # no *args or **kargs
        return None
    def fit(self, X):
        return self  # nothing else to do
    def transform(self, X):
        # deep copy the df
        df = X.copy()
        
        for i in np.arange(df.shape[0]):
            df['TicketFrequency'].iloc[i] = train_4.Ticket.loc[train_4.Ticket == train_4.Ticket.iloc[i]].count()
        
        df['FareAdj'] = df['Fare']/df['TicketFrequency']    
        return(df)

In [240]:
# XGBoost Classifier - Grid Search
# param_grid = [
#     {
#         'loss':['deviance', 'exponential'],
#         'learning_rate':[0.1, 0.2, 0.3],
#         'n_estimators':[80,90,100],
#         'max_features':[0.6,0.7,0.8],
#         'min_samples_leaf':[10,12,14],
#         'min_samples_split':[3,5,7]
#     },
# ]
param_grid = [
    {
        'booster':['gbtree','dart'],
        'gamma':[0,0.1,0.25,0.5,0.75,1],
        'alpha':[0,0.1,0.25,0.5,0.75,1],
    },
]

xgbc = XGBClassifier()
grid_search = GridSearchCV(xgbc, param_grid, cv=5, scoring='accuracy', refit=True)


%time grid_search.fit(train_prepared,train_3['Survived'])

#let's see the best estimator
best_xgbc = grid_search.best_estimator_
print(best_xgbc)
print("_"*40)
#with its score
# print(np.sqrt(-grid_search.best_score_))
print(grid_search.best_score_)
print(pd.DataFrame(grid_search.cv_results_)[['params','mean_test_score','std_test_score']])

Wall time: 9.23 s
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.5, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)
________________________________________
0.8305274971941639
                                  params  mean_test_score  std_test_score
0      {'booster': 'gbtree', 'gamma': 0}         0.824916        0.020106
1    {'booster': 'gbtree', 'gamma': 0.1}         0.823793        0.019700
2   {'booster': 'gbtree', 'gamma': 0.25}         0.828283        0.020915
3    {'booster': 'gbtree', 'gamma': 0.5}         0.830527        0.018990
4   {'booster': 'gbtree', 'gamma': 0.75}         0.829405        0.016152
5      {'booster': 'gbtree', 'gamma': 1}         0.827160        0.015090
6        {'booster': 'dart', 'gamma': 0}         0.824916        0.020106
7      {'booster': 'dart', 'gamma': 0.1}         0.823793        0.019700
8     {'booster': 'dart', 'gamma': 0.25}         0.828283        0.020915
9      {'booster': 'dart', 'gamma': 0.5}         0.830527        0.018990
10    {'booster': 'dart', 'gamma': 0.75}         0.829405        0.016152
11       {'booster': 'dart', 'gamma': 1}         0.827160        0.015090